<section class="about" id="about">
  <div class="row">
    <div class="column">
      {% include _conference-icon.html %}
      <h1>Conferência</h1>
      <p>A Flask Conf reúne centenas de pessoas durante 2 dias para discutir sobre software livre, práticas de desenvolvimento, o framework Flask e Python.</p>
      <p class="code-of-conduct"><a href="https://github.com/flask-brasil/codigo-de-conduta" target="_blank">Leia nosso Código de Conduta</a></p>
    </div>

    <div class="column">
      {% include _staff-icon.html %}
      <h1>Organização</h1>
      <p>Esse ano a Flask Conf é organizada pela comunidade Python de São Paulo, com a ajuda da comunidade do resto do Brasil.</p>
      <p>email: <a href="mailto:flask+contato@python.org.br" target="_blank">flask+contato@python.org.br</a></p>
      <p>facebook: <a href="https://www.facebook.com/pythonsudeste" target="_blank">Flask Conf 2018</a></p>
      <p>twitter: <a href="https://twitter.com/flaskconfbr" target="_blank">@flaskconfbr</a></p>
    </div>
  </div>
</section>
