<section class="welcome">
  <div>
    <header class="header row">
      <div class="menu-scroll">
        <div class="center">
          {% include menu.html %}
        </div>
      </div>
      {% include menu.html %}
    </header>
    <article class="info">
        <div class="carrousel row">
          <div class="centered">
              <h1>1ª conferência Flask da comunidade Python do Brasil</h1>
              <h2>Agosto/2018</h2>
              <h3>1 dia de Palestras | 1 dia de Tutoriais</h3>
          </div>
        </div>
        <!--
          <div class="call_to_subscribe">
              <a href="https://www.eventbrite.com.br/e/python-sudeste-2017-tickets-34266939338" target="_blank" class="register">INSCREVA-SE</a>
          </div>
        -->
    </article>
  </div>
</section>
